.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    height: 9vh;
}

.logo {
    flex-grow: 1;
    padding-left: 70px;
}

.headernavigationLinks ul {
    display: flex;
    list-style-type: none;
}

.headernavigationLinks ul li {
    margin: 20px;
}

.headernavigationLinks ul li a {
    text-decoration: none;
}

.about-us-container { 
    font-family: Arial, sans-serif; 
    padding: 20px; 
    background-color: #f9f9f9; 
} 

.about-us-header h1 { 
    text-align: center; 
    color: #333; 
} 

.about-us-header p { 
    text-align: center; 
    font-size: 1.2em; 
    color: #555; 
} 

.about-us-content section {
    margin: 20px 0; 
} 

.about-us-content h2 { 
    color: #333; 
} 

.about-us-content p { 
    color: #666; 
    line-height: 1.6; 
} 

.about-us-footer { 
    text-align: center; 
    margin-top: 30px; 
} 

.about-us-footer p { 
    color: #777; 
}