<header>
    <div class = "headerContent">
        <div class = "logo">
            <h2>MediStore</h2>
        </div>
        <div class = "headernavigationLinks">
            <ul>
                <li><a routerLink = "/">Back</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="about-us-container"> 
    <div class="about-us-header"> 
        <h1>About Us</h1> 
        <p>Your Health, Our Priority</p> 
    </div> 
    <div class="about-us-content"> 
        <section class="mission"> 
            <h2>Our Mission</h2> 
            <p> At E-Medicare website, our mission is to provide accessible, affordable, and high-quality healthcare services to everyone. We strive to empower individuals to take control of their health through innovative e-medicine solutions. </p> 
        </section> 
        <section class="vision"> 
            <h2>Our Vision</h2> 
            <p> We envision a world where healthcare is accessible to all, regardless of geographical or financial barriers. Through our advanced e-medicine platform, we aim to bridge the gap between patients and healthcare professionals. </p> 
        </section> 
        <section class="values"> 
            <h2>Our Values</h2> 
            <ul> 
                <li><strong>Compassion:</strong> We care deeply about the well-being of our patients and strive to provide personalized care.</li> 
                <li><strong>Innovation:</strong> We leverage the latest technology to deliver cutting-edge healthcare solutions.</li> 
                <li><strong>Integrity:</strong> We adhere to the highest ethical standards in all our practices.</li> 
                <li><strong>Accessibility:</strong> We are committed to making healthcare services available to everyone, everywhere.</li> 
            </ul> 
        </section> 
    </div> 
    <div class="about-us-footer"> 
        <p>Contact Us: +91-123-456-7890</p> 
    </div>